.img-thumbnail {
    width: 220px;
}

#navbar .nav-link {
    color: #fff !important;
}

#navbar .nav-link:hover, #navbar a.active {
    text-shadow: 2px 1px 6px #f8a085;
}

main {
    min-height: 300px;
}

.shown {
    display: bloc;
}

.hidden {
    display: none;
}

.star {
    visibility:hidden;
    font-size:35px;
    margin-right: 5px;
    margin-left: 10px;
    cursor:pointer;
}
.star:before {
    content: "\2606";
    position: absolute;
    top: -15px;
    visibility:visible;
}
.star:checked:before {
    color: #6c757d;
    content: "\2605";
    top: -15px;
    position: absolute;
}

#login-main {
    /** Image from:
    *   https://pixabay.com/fr/users/nietjuh-2218222/ 
    */
    background-image: url("../ressources/img/bakgrounds/table-3997521_1920.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-form {
    background-color: rgba(85, 168, 241, 0.3);
}